/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #4B5320;
  padding: 20px;
  color: white;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding: 20px 100px 0 100px;
}
